{
    "cid": "CID164",
    "cid_key": "3fb46d8ebcS+Klsv89yk6XgedLEqT0r8S7gqJODZFy7H0Zflj+kPxLyLpWSI4OIm",
    "dburl": "http://onepointtwentyone-horsebrokedown-1.c.influxdb.com:8086/",
    "dbrootp": "27ff25609da60f2d",
    "mail": {"password": "Mucht00f@r",
             "from": " <bridges@continuumbridge.com>",
             "user": "bridges@continuumbridge.com"
    },
    "twilio_account_sid": "AC72bb42908df845e8a1996fee487215d8",
    "twilio_auth_token": "717534e8d9e704573e65df65f6f08d54",
    "twilio_phone_number": "+441183241580",
    "bridges":{
        "BID36": {
            "friendly_name": "Martyn's Home",
            "sms": "+447795252443",
            "email": "peter.claydon@continuumbridge.com",
            "database": "SCH"
        },
        "BID45": {
            "friendly_name": "Mandy's Bridge",
            "email": "Mandy.Miles@sirona-cic.org.uk, martin.sotheran@continuumbridge.com, peter.claydon@continuumbridge.com",
            "database": "SCH"
        },
        "BID147": {
            "friendly_name": "BID147",
            "email": "peter.claydon@continuumbridge.com",
            "config": {
                "AID28": {
                    "night_wandering": "True",
                    "night_start": "07:30",
                    "night_end": "23:00",
                    "night_ignore_time": 15,
                    "data_send_delay": 1
                }
            }
        }
    }
}
