{
    "cid": "CID164",
    "cid_key": "3fb46d8ebcS+Klsv89yk6XgedLEqT0r8S7gqJODZFy7H0Zflj+kPxLyLpWSI4OIm",
    "dburl": "http://onepointtwentyone-horsebrokedown-1.c.influxdb.com:8086/",
    "dbrootp": "27ff25609da60f2d",
    "mail": {"password": "Mucht00f@r",
             "from": " <bridges@continuumbridge.com>",
             "user": "bridges@continuumbridge.com"
    },
    "twilio_account_sid": "AC72bb42908df845e8a1996fee487215d8",
    "twilio_auth_token": "717534e8d9e704573e65df65f6f08d54",
    "twilio_phone_number": "+441183241580",
    "service_providers": {
        "pumpco": {
             "url": "https://gaia.cnect.to/PumpHouse/rest/v1/devices/"
        }
    },
    "bridges":{
        "BID28": {
            "friendly_name": "MS 3G test",
            "email": "martin.sotheran@continuumbridge.com",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "11:30",
                    "night_end": "07:00",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "threshold": 50,
                    "alert": false,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 1
                }
            }
        },
        "BID8": {
            "friendly_name": "Metro Central",
            "email": "peter.claydon@continuumbridge.com",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "00:30",
                    "night_end": "07:00",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "threshold": 50,
                    "alert": false,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 1
                },
                "AID32": {
                    "medicine": true,
                    "time_slots": [
                        {
                            "start": "07:00",
                            "end": "08:00"
                        },
                        {
                            "start": "10:45",
                            "end": "11:45"
                        },
                        {
                            "start": "15:30",
                            "end": "16:45"
                        }
                    ],
                    "reminders": true,
                    "reminder_time": 600,
                    "accel_min_change": 0.2,
                    "ignore_time": 600,
                    "data_send_delay": 1
                }
            }
        },
        "BID11": {
            "friendly_name": "BCC",
            "email": "martin.sotheran@continuumbridge.com",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "23:30",
                    "night_end": "06:30",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "name": "Logie",
                    "hot_drinks": true,
                    "threshold": 50,
                    "alert": true,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 1
                },
                "AID32": {
                    "medicine": true,
                    "time_slots": [
                        {
                            "start": "10:35",
                            "end": "11:00"
                        }
                    ],
                    "reminders": true,
                    "reminder_time": 600,
                    "accel_min_change": 0.2,
                    "ignore_time": 600,
                    "data_send_delay": 1
                }
            }
        },
        "BID66": {
            "friendly_name": "BID66 at BRL",
            "sms": "+447710977264",
            "email": "martin.sotheran@continuumbridge.com, peter.claydon@continuumbridge.com, praminda@hotmail.com, l.fiorini@sssup.it",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "22:00",
                    "night_end": "07:00",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "threshold": 53,
                    "alert": false,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": false,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 1
                },
                "AID32": {
                    "medicine": false,
                    "time_slots": [
                        {
                            "start": "10:35",
                            "end": "11:00"
                        }
                    ],
                    "reminders": true,
                    "reminder_time": 600,
                    "accel_min_change": 0.2,
                    "ignore_time": 600,
                    "data_send_delay": 1
                }
            }
        },
        "BID44": {
            "friendly_name": "Martin's Demo Bridge",
            "email": "martin.sotheran@continuumbridge.com",
            "sms": "+447796307957",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "13:00",
                    "night_end": "22:30",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "threshold": 50,
                    "alert": false,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 1
                },
                "AID32": {
                    "medicine": true,
                    "time_slots": [
                        {
                            "start": "10:35",
                            "end": "11:00"
                        }
                    ],
                    "reminders": true,
                    "reminder_time": 600,
                    "accel_min_change": 0.2,
                    "ignore_time": 600,
                    "data_send_delay": 1
                }
            }
        },
        "BID101": {
            "friendly_name": "10RG",
            "email": "helen.sotheran@gmail.com",
            "sms": "+447796307957",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "23:30",
                    "night_end": "06:15",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "threshold": 50,
                    "alert": false,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 1
                }
            }
        },
        "BID67": {
            "friendly_name": "BID67 SCH2",
            "email": "martin.sotheran@continuumbridge.com",
            "database": "SCH",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "23:45",
                    "night_end": "06:00",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "name": "CB",
                    "window": 450,
                    "hot_drinks": true,
                    "threshold": 100,
                    "alert": true,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 2
                }
            }
        },
        "BID36": {
            "friendly_name": "Martyn's Home",
            "email": "martin.sotheran@continuumbridge.com",
            "database": "SCH",
            "sms": "+447795252443",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "23:00",
                    "night_end": "06:15",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "threshold": 50,
                    "alert": false,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 2
                },
                "AID32": {
                    "medicine": true,
                    "time_slots": [
                        {
                            "start": "10:35",
                            "end": "11:00"
                        }
                    ],
                    "reminders":false,
                    "reminder_time": 600,
                    "accel_min_change": 0.2,
                    "ignore_time": 600,
                    "data_send_delay": 1
                }
            }
        },
        "BID55": {
            "friendly_name": "KM55",
            "email": "martin.sotheran@continuumbridge.com"
        },
        "BID45": {
            "friendly_name": "BID45 SCH3",
            "email": "carole.fitzgerald@sirona-cic.org.uk, martin.sotheran@continuumbridge.com",
            "database": "SCH",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "23:45",
                    "night_end": "06:00",
                    "night_ignore_time": 900,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "window": 449,
                    "name": "CF",
                    "threshold": 100,
                    "alert": false,
                    "ignore_time": 300,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 1
                }
            }
        },
        "BID144": {
            "friendly_name": "BID144",
            "email": "peter.claydon@continuumbridge.com",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "07:00",
                    "night_end": "17:00",
                    "night_ignore_time": 600
                }
            }
        },
        "BID147": {
            "friendly_name": "Pete's BID147",
            "email": "peter.claydon@continuumbridge.com",
            "service_provider": "pumpco",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "07:30",
                    "night_end": "23:00",
                    "night_ignore_time": 15,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "threshold": 4,
                    "alert": false,
                    "ignore_time": 120,
                    "data_send_delay": 2
                }
            }
        },
        "BID166": {
            "friendly_name": "Guildford",
            "email": "peter.claydon@continuumbridge.com",
            "config": {
                "AID28": {
                    "night_wandering": true,
                    "night_start": "09:30",
                    "night_end": "15:00",
                    "night_ignore_time": 120,
                    "data_send_delay": 1
                },
                "AID29": {
                    "hot_drinks": true,
                    "threshold": 2,
                    "alert": false,
                    "ignore_time": 30,
                    "data_send_delay": 2
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120,
                    "data_send_delay": 1
                },
                "AID32": {
                    "medicine": true,
                    "medicine_name": "Paracetamol",
                    "time_slots": [
                        {
                            "start": "07:00",
                            "end": "11:00"
                        },
                        {
                            "start": "13:30",
                            "end": "14:15"
                        }
                    ],
                    "reminders": true,
                    "reminder_time": 600,
                    "accel_min_change": 0.2,
                    "ignore_time": 30,
                    "data_send_delay": 1
                }
            }
        },
        "BID167": {
            "friendly_name": "BID167",
            "email": "peter.claydon@continuumbridge.com",
            "config": {
                "AID20": {
                    "ignore_time": 60
                },
                "AID28": {
                    "night_wandering": true,
                    "night_start": "08:00",
                    "night_end": "17:00",
                    "night_ignore_time": 600
                },
                "AID29": {
                    "hot_drinks": true,
                    "name": "Metro Central",
                    "window": 30,
                    "threshold": 1,
                    "alert": false,
                    "ignore_time": 60
                },
                "AID30": {
                    "entry-exit": true,
                    "in_pir_to_door_time": 60,
                    "door_close_to_in_pir_time": 60,
                    "door_open_to_in_pir_time": 60,
                    "max_door_open_time": 120
                },
                "AID31": {
                    "luminance_polling_interval": 300,
                    "accel": true,
                    "temperature": true,
                    "max_interval": 21600
                },
                "AID32": {
                    "medicine": true,
                    "medicine_name": "Panacea",
                    "time_slots": [
                        {
                            "start": "07:00",
                            "end": "11:00"
                        },
                        {
                            "start": "13:30",
                            "end": "14:30"
                        }
                    ],
                    "reminders": true,
                    "reminder_time": 600,
                    "accel_min_change": 0.2,
                    "ignore_time": 30,
                    "data_send_delay": 1
                }
            }
        },
        "BID169": {
            "friendly_name": "Pumpco",
            "email": "peter.claydon@continuumbridge.com",
            "service_provider": "pumpco"
        },
        "BID192": {
            "friendly_name": "cardiff",
            "email": "martin.sotheran@continuumbridge.com",
            "service_provider": "pumpco"
        },
        "BID201": {
            "friendly_name": "BID201",
            "email": "peter.claydon@continuumbridge.com",
            "config": {
                "AID31": {
                    "accel": true,
                    "humidity": true,
                    "luminance": true,
                    "binary": true,
                    "temperature": true
                }
            }
        },
	"BID202": {
            "friendly_name": "Kari's Bridge",
            "email": "peter.claydon@continuumbridge.com",
            "database": "KD",
            "config": {
                "AID20": {
                    "ignore_time": 120
                },
                "AID31": {
                    "accel": false,
                    "humidity": true,
                    "luminance": true,
                    "binary": true,
                    "temperature": true
                }
            }
        }
    }
}
